.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7fc9ec;
  border: 1px solid #121010;
  
}


.form-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 10px;
}

input[type="number"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #403631;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}
